n8n-webhook-test/webhook-Test-n8n.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "62ea5cf3-176e-45f3-8895-869d7c61d690",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -220
      ],
      "id": "3de9483f-37d4-4997-9ba0-524788061572",
      "name": "Webhook",
      "webhookId": "62ea5cf3-176e-45f3-8895-869d7c61d690"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body.car }} is good,{{ $json.body.name }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        -220
      ],
      "id": "f9188457-9a96-4d38-9672-70ae5e6b2577",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d75685f6-2f54-44f1-8cc0-03e9c27102b3",
              "leftValue": "1",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -420,
        -320
      ],
      "id": "b75eeea7-8906-4bf5-9cc3-b3a8048824ba",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -320,
        -120
      ],
      "id": "a7216b86-953a-4654-a2fd-7a4b681b34c1",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d536a12c-7bde-419f-ab2f-fd9e1f20d124",
  "meta": {
    "instanceId": "11888ffa3e47806faf21601c627c5f9059006bec22e546a91fcf0114674fe8a2"
  },
  "id": "WOKtwKUfLMaKaEJ4",
  "tags": []
}